<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        </p>
        <p>
            <textarea id='source' style='width:800px;height:400px;'><%= template %></textarea>
        </p>
        <p>
            <button onClick='sendMessage();'>Run!</button>
        </p>
        <p id='status'>
        </p>
        <script type='text/javascript'>
            function sendMessage() {
                initWebSocket();
            }

            function initWebSocket() {
                var websocket = null;
                try {
                    if (typeof MozWebSocket == 'function')
                        WebSocket = MozWebSocket;
                    if ( websocket && websocket.readyState == 1 )
                        websocket.close();
                    websocket = new WebSocket('ws://ten.iptime.org:8080');
                    websocket.onopen = function (evt) {
                        var msg = {
                            id: <%= id %>
                            source : document.getElementById('source').value
                        }
                        if ( websocket != null && document.getElementById('source').value != '') {
                            console.log('send');
                            websocket.send( JSON.stringify(msg) );
                            console.log( msg );
                            console.log(JSON.stringify(msg));
                        }
                    };
                    websocket.onmessage = function (evt) {
                        console.log('recived');
                        let parsed = JSON.parse(evt.data);
                        if (parsed.success == true) {
                            document.getElementById('status').value = 'success';
                        } else {
                            document.getElementById('status').value = parsed.message
                        }
                    };
                    websocket.onerror = function (evt) {
                        console.log('ERROR: ' + evt.data);
                    };
                } catch (exception) {
                    console.log(exception);
                }
            }

            function checkSocket() {
                if (websocket != null) {
                    var stateStr;
                    switch (websocket.readyState) {
                        case 0: {
                            stateStr = 'CONNECTING';
                            break;
                        }
                        case 1: {
                            stateStr = 'OPEN';
                            break;
                        }
                        case 2: {
                            stateStr = 'CLOSING';
                            break;
                        }
                        case 3: {
                            stateStr = 'CLOSED';
                            break;
                        }
                        default: {
                            stateStr = 'UNKNOW';
                            break;
                        }
                    }
                }
            }
        </script>
    </body>
</html>
